.container{
  background-color: $light-grey-color;
  border: 2rem solid $light-grey-color;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 2rem;
  font-size: 3rem;
    input {
      font-size: 3rem;
      padding: 1.5rem
    }
    label {
      font-size: 2.5rem;
    }
  .checkboxClass {
    height: 1.5rem;
    width: 1.5rem;
    box-shadow: 1px 3px 6px black;
  }
}

.container-header{
  border-bottom: 1px dotted rgba(128, 128, 128, 0.28);
  padding: .5rem;
  label{
    cursor: pointer;
    font-size: 4rem;
  }
  > :last-child{
    align-items: center;
    display: flex;
  }
}

.container-footer{
  padding: 1rem 1rem 0 1rem;
  border-top: 1px solid $light-grey-color;
   button {
     border-radius: 3px;
     font-family: "Microsoft Sans Serif";
     font-weight: bolder;
     font-size: 2rem;
   }
}

.container-message {
  background-color: $light-color-message;
  margin: 2rem auto;
  padding: 2rem 0;
  text-align: center;
  border: 2px dotted rgba(0, 255, 170, 0.45);
}
